.container {
  margin-top: 20px;
}

.carousel-wrapper {
  width: 325px;
  height: 213px;
  float: left;
  margin-left: 15px;
    margin-top: 70px;
}

.carousel {
  width: 322px;
  height: 213px;
}

.carousel-inner {
  margin: 0 auto;
  width: 320px;
  height: 213px;
}

.carousel-indicators {
  background-color: silver;
  bottom: -35px;
}

.carousel-caption {
  padding-bottom: 0px;
}