.top {
  min-height: 50%;
  min-width: 100%;
  background: lightgrey;
  position: relative;

}

.box {
  width: 322px;
  height: 215px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid tomato;
  box-shadow: 0px 0px 120px tomato;
  padding-top: 0;
  position: relative;
}

.tribox {
  width: 322px;
  height: 215px;
  border: 1px solid silver;
  margin: 0 auto;
  box-shadow: 0px 0px 120px silver;
  padding: 0;
  float: left;
}

.tribox:nth-child(2) {
  border: 1px solid red;
}